{% extends 'starter-page.html' %}
{% load static %}
<br><br><br><br>
{% block body %}
    <br><br><br><br><br>

<h1 style="text-align: center">Our services</h1>
<p class="m-5">Packing & Unpacking:<br> We handle your belongings with care, providing high-quality packing materials and efficient packing solutions. We also offer unpacking services to get you settled in quickly.

</p>

<div class="container d-flex ">
  <div class="row m-2 ">
      <img src="{% static 'assets/img/pexels-timur-weber-9185786.jpg' %}" alt="">
  </div>
 <div class="row m-2">
      <img src="{% static 'assets/img/pexels-shvets-production-7203788 (1).jpg' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/pexels-ketut-subiyanto-4246119.jpg' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/pexels-ekaterina-bolovtsova-4868604.jpg' %}" alt="">
  </div>



</div>








<p class="m-5">Moving & Transportation:<br> Whether you’re moving locally or internationally, our experienced team ensures your items are safely transported to your new location. We offer various transportation options to meet your needs.</p>


<div class="container d-flex ">
  <div class="row m-2 ">
      <img src="{% static 'assets/img/moving3.jpeg' %}" alt="">
  </div>
 <div class="row m-2">
      <img src="{% static 'assets/img/moving2.webp' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/moving4.jpeg' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/moving1.webp' %}" alt="">
  </div>



</div>











<p class="m-5">Destination Services:<br> From finding a new home to providing information about your new city, we offer services that help you adjust to your new environment with ease.</p>


    <img src="{% static 'static/assets/img/destination.png' %}" alt="" width="300" class="m-4">






<p class="m-5">Settling-in Assistance:<br> Moving doesn’t stop at the door. We help with everything from setting up utilities to navigating local amenities and adjusting to new communities.</p>


<div class="container d-flex ">
  <div class="row m-2 ">
      <img src="{% static 'assets/img/set6.jpeg' %}" alt="">
  </div>
 <div class="row m-2">
      <img src="{% static 'assets/img/set4.jpeg' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/set3.jpeg' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/set2.jpg' %}" alt="">
  </div>



</div>








<p class="m-5">Corporate Relocation:<br> If you’re a business or organization, we also specialize in corporate relocations. Our team can help facilitate employee moves, ensuring productivity isn’t disrupted during the transition.

</p>

<div class="container d-flex ">
  <div class="row m-2 ">
      <img src="{% static 'assets/img/room1.webp' %}" alt="">
  </div>
 <div class="row m-2">
      <img src="{% static 'assets/img/room2.jpeg' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/room3.webp' %}" alt="">
  </div>
<div class="row m-2 ">
      <img src="{% static 'assets/img/room4.webp' %}" alt="">
  </div>



</div>











{% endblock %}